/* General Styles */
body {
        font-family: "Garamond", serif;
        line-height: 1.6;
        background-color: #F1F2EE;
        color: #0E0A1C;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }
    
    
    section {
        padding: 60px 20px;
        max-width: 900px;
        margin: auto;
    }
    
    .section {
        border-bottom: 1px solid #F1F2EE;
    }
    
    h1 {
        color: #0E0A1C;
    }
    
    p, ul {
        font-size: 1.2rem;
    }
    
    /* Left Side Navigation */
    .side-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #435058;
        padding-top: 20px;
    }
    
    .side-menu ul {
        list-style: none;
        padding: 0;
    }
    
    .side-menu ul li {
        margin: 20px 0;
    }
    
    .side-menu ul li a {
        color: #F1F2EE;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px 20px;
        display: block;
    }
    
    .side-menu ul li a:hover {
        background-color: #0E0A1C;
    }
    
    /* Main content moves to the right to make space for the side menu */
    section {
        margin-left: 220px;
    }
    
    /* Flexbox for the intro section */
    .intro-content {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    /* Headshot */
    .headshot {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #333;
    }
    
    .social-logo {
        width: 40px;
        margin-top: 10px;
    }
    
    .social-logo:hover {
        transform: scale(1.1);
    }
    
    /* Contact Section */
    form input, form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    form button {
        background-color: #BFB7B6;
        color: #0E0A1C;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover, .linkedin-link a:hover {
        background-color: #0E0A1C;
        color: #BFB7B6;
    }
    
    .resume-download, .linkedin-link {
        margin-top: 30px;
    }
    
    .resume-download a.btn, .linkedin-link a {
        background-color: #BFB7B6;
        color: #0E0A1C;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .resume-download a.btn:hover, .linkedin-link a:hover {
        background-color: #0E0A1C;
        color: #BFB7B6;
    }
    
